@import 'src/variables';

@mixin font-button-lg() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
};

@mixin font-button-md() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
};

/* SM */
@mixin font-button-sm() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
};

@mixin font-button-xs() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}