@import 'src/variables';

@mixin chip-number () {
  font-family: $family-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.15em;
}