@import 'src/variables';

@mixin font-input-hint() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@mixin font-input-phone() {
  font-family: $family-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */

  letter-spacing: 0.1em;
}

@mixin font-input-card-number() {
  font-family: $family-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

@mixin font-input-link() {
  font-family: $family-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

@mixin font-input-text-md() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

@mixin font-input-text-lg() {
  font-family: $family-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}

@mixin font-input-number-md() {
  font-family: $family-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

@mixin font-input-number-lg() {
  font-family: $family-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */

  letter-spacing: 0.08em;
}

@mixin font-input-number-xl() {
  font-family: $family-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.1em;
}