@import 'src/variables';

.logo {
  width: 126px;

  @media screen and (min-width: $media-desktop){
    width : 152px;
  }
}

.image {
  display: block;

  & > img {
    max-width: 100%;
    width: 100%;
  }
}