@import 'variables';

/*
  Removes automatically on > 768px
 */
@mixin horizontal-bottom-half-oval($margin-bottom: 0) {
  position : relative;
  margin-bottom : $margin-bottom + $half-oval-height - $header-height;

  &:after {
    content: '';
    display: block;
    position : absolute;
    top: 100%;
    left : 0;
    width : 100%;
    height: $half-oval-height;
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #ffffff;
  }

  @media screen and (min-width: $media-desktop) {
    &:after {
      content: none;
    }
  }
};

/*
  Removes automatically on > 768px
 */
@mixin header-bg-shift($padding-top: 0px) {
  position: relative;
  top: -$header-height;
  padding-top: calc(#{$padding-top} + #{$header-height});

  @media screen and (min-width: $media-desktop) {
    top: unset;
    padding-top: $padding-top;
  }
};

@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    //src: url($path + ".eot");
    //src: url($path + ".eot?#iefix") format("embedded-opentype"), url($path + ".woff") format("woff"),
    src: url($path + ".ttf") format("truetype");
    //src: url($path + ".svg##{$font-name}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
};

@mixin font-input-text() {
  font-family: $font-input-family;
  font-size: $font-input-size;
  line-height: $font-input-height;
  font-style: $font-input-style;
  font-weight: $font-input-weight;
};

@mixin font-input-base-number() {
  font-family: $font-input-base-number-family;
  font-style: $font-input-base-number-style;
  font-weight: $font-input-base-number-weight;
  font-size: $font-input-base-number-size;
  line-height: $font-input-base-number-height;
  letter-spacing: $font-input-base-number-spacing;
};

@mixin font-input-auth-text() {
  font-family: $font-input-auth-text-family;
  font-style: $font-input-auth-text-style;
  font-weight: $font-input-auth-text-weight;
  font-size: $font-input-auth-text-size;
  line-height: $font-input-auth-text-height;
};

@mixin font-input-auth-code() {
  font-family: $font-input-auth-code-family;
  font-style: $font-input-auth-code-style;
  font-weight: $font-input-auth-code-weight;
  font-size: $font-input-auth-code-size;
  line-height: $font-input-auth-code-height;
  letter-spacing: $font-input-auth-code-spacing;
};

@mixin font-input-hint() {
  font-family: $font-input-hint-family;
  font-style: $font-input-hint-style;
  font-weight: $font-input-hint-weight;
  font-size: $font-input-hint-size;
  line-height: $font-input-hint-height;
};

@mixin font-header1-italic() {
  font-size: $font-header1-size;
  font-family: $font-header1-family;
  line-height: $font-header1-height;
  font-style: $font-header1-style ;
  font-weight: $font-header1-weight;
};

@mixin font-header2-italic() {
  font-family: $font-header2-family;
  font-style: $font-header2-style;
  font-weight: $font-header2-weight;
  font-size: $font-header2-size;
  line-height: $font-header2-height;
  letter-spacing: $font-header2-spacing;
};

@mixin font-header1() {
  font-size: $font-h1-size;
  font-family: $font-h1-family;
  line-height: $font-h1-height;
  font-style: $font-h1-style;
  font-weight: $font-h1-weight;
};

@mixin font-header2() {
  font-size: $font-h2-size;
  font-family: $font-h2-family;
  line-height: $font-h2-height;
  font-style: $font-h2-style;
  font-weight: $font-h2-weight;
};

@mixin font-header4() {
  font-family: $font-h4-family;
  font-style: $font-h4-style;
  font-weight: $font-h4-weight;
  font-size: $font-h4-size;
  line-height: $font-h4-height;
};

/* DESCRIPTION FONT */
@mixin font-description-md() {
  font-family:  $font-description-md-family;
  font-style:  $font-description-md-style;
  font-weight:  $font-description-md-weight;
  font-size: $font-description-md-size;
  line-height: $font-description-md-height;
};

@mixin font-description-lg() {
  font-family:  $font-description-lg-family;
  font-style:  $font-description-lg-style;
  font-weight:  $font-description-lg-weight;
  font-size: $font-description-lg-size;
  line-height: $font-description-lg-height;
};

/* CHIP TEXT */
@mixin font-chip-text-number() {
  font-family: $font-chip-text-number-family;
  font-style: $font-chip-text-number-style;
  font-weight: $font-chip-text-number-weight;
  font-size: $font-chip-text-number-size;
  line-height: $font-chip-text-number-height;
  letter-spacing: $font-chip-text-number-spacing;
};



/* SVG MIXINS */

/* FILL */
@mixin set-svg-fill($color) {
  & > * {
    fill: $color
  }
};

/* FILL */
@mixin set-svg-stroke($color) {
  & > path {
    stroke: $color
  }
};
