/* COLORS */

$color-primary                      : #eb385f;
$color-brand-darken                 : #D13456;
$color-negative                     : #F95454;
$color-negative-darken              : #DB4D4D;
$color-primary-button-gradient      : linear-gradient(90.26deg, #FB466C 0.22%, #FE5C5C 97.49%);

$color-background                   : #F0F2F5;
$color-white                        : #ffffff;

$color-grey-lighten-2               : #F6F6F6;
$color-grey-lighten                 : #EDEEF2;
$color-grey                         : #ADADAD;
$color-grey-darken                  : #686868;
$color-input-bg                     : #F5F5F5;

$color-dark                         : #333333;
$color-dark-grey                    : #757575;
$color-black                        : #000000;

$color-positive                     : #66CD5B;
$color-positive-darken              : #57A54E;

$color-link: #3766A9;

/* END COLORS*/


/* FONTS */

// TODO : FIX H1, H2
/* H1 */
$font-h1-size                       : 2.125rem;
$font-h1-family                     : Inter;
$font-h1-height                     : 1.2em;
$font-h1-style                      : normal;
$font-h1-weight                     : 600;

/* H2 */
$font-h2-size                       : 1.25rem;
$font-h2-family                     : Inter;
$font-h2-height                     : 1.2em;
$font-h2-style                      : normal;
$font-h2-weight                     : 500;

/* H4 */
$font-h4-family                     : Montserrat, sans-serif;
$font-h4-style                      : normal;
$font-h4-weight                     : 600;
$font-h4-size                       : 1.125rem;
$font-h4-height                     : 1.2em;

/* Header 1 Italic */
$font-header1-size                  : 1.75rem;
$font-header1-family                : Inter;
$font-header1-height                : 1.2em;
$font-header1-style                 : normal;
$font-header1-weight                : bold;

/* Header 2 Italic */
$font-header2-family                : Inter;
$font-header2-style                 : italic;
$font-header2-weight                : bold;
$font-header2-size                  : 22px;
$font-header2-height                : .82em;
$font-header2-spacing               : 0.05em;

/* BODY */
$font-body-size                     : .875rem;
$font-body-family                   : Work Sans;
$font-body-height                   : 1.143em;
$font-body-style                    : normal;
$font-body-weight                   : 500;

/* DESCRIPTION */

/* SM */
$font-description-size              : .625rem;
$font-description-family            : Work Sans;
$font-description-height            : 1.6em;
$font-description-style             : normal;
$font-description-weight            : 500;

/* MD */
$font-description-md-family         : Inter;
$font-description-md-size           : 1.25rem;
$font-description-md-height         : 1.2em;
$font-description-md-style          : normal;
$font-description-md-weight         : 500;

/* LG */
$font-description-lg-family         : Inter;
$font-description-lg-size           : 1.5rem;
$font-description-lg-height         : 1.2em;
$font-description-lg-style          : normal;
$font-description-lg-weight         : 500;

/* DESCRIPTION END */


/* LINK */
$font-link-size                     : 1.25rem;
$font-link-height                   : 1em;
$font-link-family                   : Inter;
$font-link-style                    : normal;
$font-link-weight                   : 500;

/* INPUT */

/*INPUT-BASE-NUMBER*/
$font-input-base-number-family      : Roboto Mono;
$font-input-base-number-style       : normal;
$font-input-base-number-weight      : 500;
$font-input-base-number-size        : 1.25rem;
$font-input-base-number-height      : 1.3em;
$font-input-base-number-spacing     : 0.15em;

/*INPUT-AUTH-TEXT*/
$font-input-auth-text-family        : Inter;
$font-input-auth-text-style         : normal;
$font-input-auth-text-weight        : 500;
$font-input-auth-text-size          : 1.375rem;
$font-input-auth-text-height        : 1.23em;

/*INPUT-AUTH-CODE*/
$font-input-auth-code-family        : Roboto Mono;
$font-input-auth-code-style         : normal;
$font-input-auth-code-weight        : 500;
$font-input-auth-code-size          : 1.75rem;
$font-input-auth-code-height        : 1.32em;
$font-input-auth-code-spacing       : 0.3em;

/*INPUT HINT*/
$font-input-hint-family: Inter;
$font-input-hint-style: normal;
$font-input-hint-weight: 500;
$font-input-hint-size: 1rem;
$font-input-hint-height: 1.1875em;

/*DEPRECATED?*/
$font-input-size                    : 1.25rem;
$font-input-height                  : 1.2em;
$font-input-family                  : Inter;
$font-input-style                   : normal;
$font-input-weight                  : 500;

/* CHIP TEXT*/

/* CHIP TEXT NUMBER */
$font-chip-text-number-family       : Roboto Mono, sans-serif;
$font-chip-text-number-style        : italic;
$font-chip-text-number-weight       : 500;
$font-chip-text-number-size         : 1.125rem;
$font-chip-text-number-height       : 1.3em;
$font-chip-text-number-spacing      : 0.15em;

/* END FONTS*/


/* SYSTEM */

/* Z-INDEX */
$z-index-header                     : 1000;
$z-index-button-sticky              : 1500;
$z-index-drawer                     : 2000;
$z-index-popup                      : 3000;

/* SIZES*/
$header-height                      : 75px;
$header-height-desktop: 114px;
$header-button-size                 : 46px;

//$drawer-width-tablet           : 214px;
$drawer-width                       : 314px;

$side-gutter                        : 1.25rem;
$content-top-padding: 3rem;
$content-side-padding: 1rem;
$content-bottom-padding: 3rem;

$half-oval-height                   : 42px;

/* TRANSITIONS */
$slide-swipe-time                   : .3s;

/* MEDIA SIZES */
// TODO : another breakpoint?
$media-desktop                      : 1000px;

/* END SYSTEM */
