@import 'variables';

.App {
  position : relative;
}

.ant-card-head-title {
  white-space: unset;
}

.ant-select-item-option-content {
  white-space: unset;
  word-break: break-word;
}

video {
  //noinspection CssInvalidPropertyValue
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.leaflet-container {
  height: 800px;
  width: 60%;
}


body {
  margin: 0px;
}